body{
  background-color: antiquewhite;
  overflow-x: hidden;
  padding: 0;
}
.activeColor{
  padding-top: 5px;
  height:50px;
  width:40%;
  border:2px solid grey;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}
.pointer{
  cursor: pointer;
}
/*header*/
.header{
  width:100%;
  height:10vh;
  background-color: rgb(15, 32, 46);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  top:0;
  left: 0;
  z-index: 100;
}
.header .image img{
width:200px;
height:100px;
margin-left: 20px;
margin-top: 10px;
}
.header .link{
  display: flex;
  margin-right: 20px;
}
.header .links a{
  margin-right: 50px;
  margin-left: 10px;
  color:white;
  text-decoration: none;
}
.header .links a:hover{
  color:red;
  text-decoration: underline;
}
/*video*/
/*.videos{
  width:100%;
  height:80vh;
  background-position: center;
  background-color: red;
  background-position: center;
}
.videos video{
  width:100%;
  height:80vh;
  background-size: cover;
}
 button{
  width:300px;
  height:10vh;
  position:relative;
  top:-180px;
  left:280px;
  background-color: blue;
  border-radius: 10px;
  border:none;
  outline: none;
}
button a{
  font-size: x-large;
  color:white;
  text-decoration: none;
}*/

/*bootstrap*/
.carsoul{
  height:110vh
}
.carsoul img{
  height:110vh
}
.carsoul-details{
  position: relative;
  top:50px
}

/*about*/
.about{
  width:100%;
  height:40vh;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.about .image{
  margin:20px
}
.about .about-para{
  width:500px;

}
.about img{
  width:350px;
  height:350px;
 
}
 button{
  border:none;
  width:180px;
  height:6vh;
  border-radius: 10px;
  font-size: x-large;
  color:white;
  background-color: blue
  
}
 button a{
  color:white;
  text-decoration: none;
}
.benefit{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.benefit-section{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.benefits{
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits i{
      font-size: 5em;
      margin: 30px
}
.benefit-content{
  border: 1px solid red;
  padding: 10px;
  width:400px;
  text-align: center;
}
/*teammates*/

.container {
  max-width: 1320px;
  padding: 0 2rem;
  margin: 0 auto;
  height: 100%;
}

.grid {
  display: flex;
  justify-content: space-around;
  /* gap: 40px; */
  margin-bottom: 100px;
  /* opacity: 2; */
}

.card {
  /* overflow: hidden; */
  padding: 10px;
  background: linear-gradient(171.38deg, #F9FBFC 3.36%, #E2EAF5 95.69%);
  box-shadow: 0px 0px 20px rgba(227, 235, 246, 0.3);
  border-radius: 40px;
  text-align: center;
  width: 260px;
}


.card_img img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.card_body {
  padding: 26px 10px 36px 10px;
}

.card_title {
  font-weight: 700;
  text-transform: capitalize;
  color: #25262C;
  font-size: 22px;
}

.designation {
  font-weight: 700;
  font-size: 22px;
  color: #959EAF;
}

.social_box {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  z-index: 99;
  display:flex;
  justify-content: space-around;
}



.btn_icon i {
  position: relative;
  font-size: 22px;
  color: #1F83FE;
  transition: all .3s ease-in-out;
}

.btn_icon i:after {
  content: '';
  position: absolute;
  height: 55px;
  width: 55px;
  background-color: white;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  left: -17px;
  top: -18px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.circle {
  position: absolute;
  background: radial-gradient(45.14% 45.14% at 50% 50%, #BFDAFF 0%, #BDD9FD 26.59%, #D4E5FF 46.99%, #CCE0FF 71.36%, #A7CCFF 100%);
  box-shadow: 0px 4px 107px rgba(179, 211, 255, 0.5);
  border-radius: 50%;
  left: -46px;
  top: -46px;
  height: 110px;
  width: 110px;
  display: block;
  z-index: -2;
  transition: all .3s ease-in-out;
}

.btn_icon:hover i {
  color: #0050B1;
}


.btn_icon:hover .circle {
  box-shadow: 0px 4px 97px rgba(44, 134, 255, 0.8);
}

.link {
  position: fixed;
  background-color: #D12322;
  padding: 23px 40px;
  right: -110px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .1s ease-in-out;
}

.link i {
  padding-left: 7px;
}

.link:hover {
  text-decoration: underline;
  background-color: black;
}


@media only screen and (max-width: 1024px) {

  .grid {
      grid-template-columns: 1fr;
      gap: 2%;
  }
}


@media only screen and (max-width: 425px) {
  .container {
      padding: 0 1rem;
  }

  .card {
      padding: 12px;
  }

  .card_title {
      font-size: 26px;
  }

  .designation {
      font-size: 18px;
  }

  .call_btn {
      margin: 100px 0 25px;
  }
}
.teammates{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.persons{
  text-align: center;
}
.persons img{
  width:150px;
  height:150px;
  border: 2px solid black;
  border-radius: 50%;
  outline-style: solid;
  outline-color: black;
  outline-width: 0cqi;
}
/*course*/
.input-container{
  width:100%;
  margin-top: 20px;
}
#searchInput{
  padding: 10px;
  outline: none;
  width:50%;
  border: 1px solid grey;
  margin: 20px;
  position: relative;
  left:25%;
  
  box-shadow: 0 3px 5px black;
}
input::placeholder{
  color:black
}
.content-container{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width:100%;
  margin-top: 20px;
}
.content-container .content-list{
  display:flex;
  width:700px;
  height:200px;
 
  margin-top: 20px;
  margin-left: 20px;
  background-color: antiquewhite;
  box-shadow: 0 5px 5px  grey;
}
.content-container .content-list img{
  width:300px;
  height:200px;
  padding: 10px;
}
.content-container .content-list .details{
  padding: 10px;
}
/*front end*/
.front-container{
  width:100%;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  
}
.frontend{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
 /* flex-direction: column;*/
  width:100%;
  flex-wrap: wrap;
}
.frontend-details{
  display: flex;
  box-shadow: 0 3px 5px grey;
  width:700px;
  height:200px;
  margin: 20px;

}
iframe{
  width:400px;
  height:200px
}

.details1{
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*blog*/
.card-container{
  
  width:100%;
  height:auto;
}
.card-body{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
  height:auto;
}
.cards{
  width:480px;
  height:255px;
 box-shadow: 0 5px 5px grey;
  margin: 10px;
  display: flex;
  margin: 10px;
  font-family:sans-serif;
  background-color: antiquewhite;
}
.card-details{
  margin: 10px;
}
.cards img{
  width:200px;
  height:100%;
  margin-right: 10px;

}
/*games*/
.wrapper{
  width:100%;
  height:100vh;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("/public/images/game1.jpg");
  background-position: center;
  background-size: cover;
}
.game-card{
 width:400px;
 box-shadow: 0 10px 20px white;
 position: relative;
 border-radius: 10px;
 margin-right:30px;
 margin-left: 10px;
}
.game-card img{
  width:100%;
  display: block;
  margin: auto;
  border-radius: 10px;
}
.overlay{
  width:100%;
  height:100%;
  top:0;
  left:0;
  position: absolute;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition:0.6s ;
}
.overlay:hover{
  opacity: 1;
}
.overlay h2{
  font-size: 35px;
  color:white;
  font-family: Verdana;
  text-align: center;
}
.overlay p{
  font-size: 20px;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*rock*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Game {
  text-align: center;
  height:auto;
  background-color: lightblue;
  font-family: sans-serif;
}
*/
.heading {
  font-size: 50px;
}

.score {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choice {
  height: 25vh;
  display: flex;
  justify-content: center;
}

.computer-hand {
  width: 250px;
}

.user-hand {
  width: 250px;
  transform: rotateY(180deg);
}

.button-div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button {
  width: 150px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: coral;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.result {
  padding: 50px;
}
/*contact*/
.map{
  width:100%;
  height:100vh;
 margin-top: -60px;
  display:flex ;
  align-items: center;
  justify-content: center;
 
}
.map iframe{
  width:800px;
  height: 500px;
  box-shadow: 3px  3px 3px 3px grey;
}
.form-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.form-content{
  
  display:flex;
  align-items: center;
  justify-content: center;
}
.form{
  width:450px;
  height:500px;
  margin-top:20px ;
  margin-bottom: 20px;
  box-shadow: 3px  3px 3px 3px grey;
  margin-left: 20px;
}
.form-inputs input{
  width:400px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
textarea{
  width:400px;
  margin-top: 20px;

}

.submit{
  background-color: dodgerblue;
  color:aliceblue;
  border: none;

}